/app/tmp/cache/*
/app/tmp/cache/models/*
!/app/tmp/cache/models/empty
/app/tmp/cache/persistent/*
!/app/tmp/cache/persistent/empty
/app/tmp/cache/views/*
!/app/tmp/cache/views/empty
/app/tmp/logs/*
!/app/tmp/logs/empty
/app/tmp/sessions/*
!/app/tmp/sessions/empty
/app/tmp/tests/*
!/app/tmp/tests/empty
/lib/Cake/Console/Templates/skel/tmp/
/plugins
/vendors
/build
/dist
.DS_Store
/tags
